<h1 mat-dialog-title>Add Movie</h1>

<mat-dialog-content>
  <form [formGroup]="data" (submit)="submitForm($event)" id="form">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="movie"
        placeholder="Movie Title"
        required
        [matAutocomplete]="auto"
      />
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of (filteredOptions | async)"
        [value]="option"
      >
        {{ option.title }}
      </mat-option>
    </mat-autocomplete>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="submit" form="form" [mat-dialog-close]="data.value">
    Add
  </button>
</mat-dialog-actions>
